.landing{
    display: flex;
    column-gap: 100px;
}
.landing-image{
    width: 50%;
}

.landing-image img{
    object-fit: cover;
    width: 100%;
}
.landing-actions{
    display: flex;
    align-self:center;
    flex-direction: column;
}

.landing-text{
    color: green;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.landing-actions a{
    align-self: center;

}
button{
    color: green;
    border: 2px solid green;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
}

.btn button:hover {
    color: wheat;
    background-color: green;
    border: 2px solid rgb(0, 68, 0);
    cursor: pointer;
}